<div class="container-big-card">
  <div class="big-card-photo">
    <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/28A21FFE0778495521587A0A0657E0415C2FDB2739AFF2A535FA8FAE6C95D1BD/scale?width=1200&aspectRatio=1.78&format=jpeg" alt="placeholder">
  </div>
  <div class="big-card-title">
    <a href="">Saiu o novo filme dos Vingadores</a>
  </div>
  <div class="big-card-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque ut amet odio nesciunt, incidunt saepe minus corporis.</p>
  </div>
</div>
