.container-big-card {
  margin-right: 30px;
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.big-card-photo img {
  width: 100%;
  min-width: 500px;
}

.big-card-title a {
  margin-top: 25px;
  font-size: 1.5rem;
  font-weight: bold;
}


.big-card-description p a {
  margin-top: 25px;
  color: #808080;
}
