.container-small-card {
  width: 600px;
  margin-bottom: 15px;
}

.container-small-card-content {
  display: flex;
  flex-direction: row;
}

.small-card-photo img {
  width: 200px;
  height: 130px;
  min-width: 200px;
  margin-right: 20px;
}

.small-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.container-small-card-separator {
  margin-top: 10px;
}

hr {
  border-color: #808080;
}
